---
---
@import "uno";
@import "tables";
@import "monokai";
@import "timeline";

/* Import your other stylesheets here */

/* Modifications */

pre.highlight,
.highlight pre {
  padding: 10px;
}

pre.highlight code,
.highlight pre code {
  white-space: pre-wrap;
}

/* Base styles for buttons that should apply on all screen sizes */
.navigation__item a {
  display: inline-block; /* Keeps buttons inline */
  margin: 5px 0;
  white-space: nowrap;
  /* Add other base styles for buttons here */
}

.pagination__page-number {
  display: inline-block;
  padding: 10px;
}

.categories a,
.tags a {
  border: 1px solid #e25440;
  border-radius: 20px;
  color: #e25440;
  display: inline-block;
  font-size: 12px;
  margin: 5px 0;
  padding: 5px 10px;
  text-shadow: none;
  white-space: nowrap;
}

.post-meta__tags {
  font-size: 12px;
  padding: 0 5px;
}

.footer__copyright {
  margin: 0 20px 10px;
}

.user-image {
  margin-bottom: 1.2em;
  position: relative;
  width: 100px;
  height: 100px;
  border: 3px solid #fff;
  border-radius: 100%;
}

/* Media query for screens with a maximum width of 768px */
@media only screen and (max-width: 768px) {
  /* Updated styles for button links and navigation wrapper on smaller screens */
  .navigation-wrapper {
    display: inline-block; /* or block, depending on your layout */
    margin: 10px auto; /* Adds margin to the top and bottom, and auto on the sides for centering if block */
    padding: 8px 15px; /* Increases the padding for better touch targets */
    font-size: 14px; /* Adjust font size for readability on small screens */
    text-align: center; /* Ensures text is centered */
    width: auto; /* Adjust width as needed, or set to auto for full width */
  }

  /* Ensure the container of the buttons does not hide overflowed content */
  .navigation-wrapper {
    overflow: visible;
    width: auto; /* or 100%, depending on your layout */
  }

  /* Adjust the user image for smaller screens if necessary */
  .user-image {
    width: 80px; /* Smaller size for user image */
    height: 80px;
    border-radius: 50%; /* Makes the image circular */
    border: 2px solid #fff;
  }
}

  



