<header class="panel-cover" style="background-image: url({{ site.baseurl }}{{ site.bkimage }})">
  <div class="panel-main">

    <div class="panel-main__inner panel-inverted">
      <div class="panel-main__content">
        <a href="{{ site.baseurl }}/" title="link to home of {{ site.title }}">
          <img src="{{ site.baseurl }}{{ site.profilepic }}" class="user-image" alt="My Profile Photo">
          <h1 class="panel-cover__title panel-title">{{ site.title }}</h1>
        </a>
        <hr class="panel-cover__divider">
        <p class="panel-cover__description">Welcome to my data project portfolio.</p>
        <hr class="panel-cover__divider panel-cover__divider--secondary">

        <div class="navigation-wrapper">
          <nav class="cover-navigation navigation--social">
            <ul class="navigation">
              <!-- LinkedIn -->
              {% if site.author.linkedin_username %}
              <li class="navigation__item">
                <a href="https://www.linkedin.com/in/{{ site.author.linkedin_username }}"
                  title="{{ site.author.linkedin_username }} on LinkedIn" target="_blank">
                  <i class="fa-brands fa-linkedin"></i>
                  <span class="label">LinkedIn</span>
                </a>
              </li>
              {% endif %}

              <!-- GitHub -->
              {% if site.author.github_username %}
              <li class="navigation__item">
                <a href="https://www.github.com/{{ site.author.github_username }}"
                  title="{{ site.author.github_username }} on GitHub" target="_blank">
                  <i class="fa-brands fa-github"></i>
                  <span class="label">GitHub</span>
                </a>
              </li>
              {% endif %}

              <!-- Email -->
              {% if site.author.email %}
              <li class="navigation__item">
                <a href="mailto:{{ site.author.email }}" title="Email {{ site.author.email }}" target="_blank">
                  <i class="fa-solid fa-envelope"></i>
                  <span class="label">Email</span>
                </a>
              </li>
              {% endif %}
            </ul>
          </nav>

          <!-- Projects Button -->
          <nav class="cover-navigation">
            <ul class="navigation">
              <li class="navigation__item">
                <a href="{{ site.baseurl }}/#projects" title="List of Projects" class="panel-button projects-button">
                  <i class="fa-solid fa-file-code"></i>&nbsp;Projects
                </a>
              </li>
            </ul>
          </nav>

        </div>

      </div>

    </div>

    <div class="panel-cover--overlay"></div>
  </div>
</header>